In [3]:
print("hello world!")

hello world!

In [5]:
True

True

# TIPOS DE DADOS

### STRING

In [7]:
'esse é um texto do tipo string de aspas simples.'
"esse é um texto do tipo string de aspas duplas."
'''esse é um texto do tipo string de triplas simples.'''
"""esse é um texto do tipo string de triplas duplas."""

'esse é um texto do tipo string de triplas duplas.'

### CASOS ESPECIAIS DAS STRINGS

ESCAPE CHARACTER

In [11]:
"\"dont't look at me\"" # invisible (invisível) characters

'"dont\'t look at me"'

In [13]:
print ("\"dont't look at me\"")

"dont't look at me"

In [21]:
print("olá mundo.\nmeu nome é Watuse")
print("olá mundo. Meu nome é Watuse")
print("olá mundo. \tMeu nome é Watuse")

olá mundo.
meu nome é Watuse
olá mundo. Meu nome é Watuse
olá mundo. 	Meu nome é Watuse

## DESAFIO 1: Em duas linhas imprima boas vindas ao usuário.

In [42]:
#Solução 1
dados = input("Digite seu nome e sua idade: ").split()
print(f"Olá {dados[0]}. \nSua idade é {dados[1]}.")

#Solução 2
dados = input("Digite seu nome e sua idade: ").split()
print("Olá {}. \nSua idade é {}.".format(dados[0], dados[1]))

##Solução 3
nome, idade = input("Digite seu nome e sua idade: ").split()
print(f"Olá {nome}. \nSua idade é {idade}.")

Digite seu nome e sua idade: watuse 37
Olá watuse.
Sua idade é 37.
Digite seu nome e sua idade: watuse 37
Olá watuse.
Sua idade é 37.
Digite seu nome e sua idade: watuse 37
Olá watuse.
Sua idade é 37.

### SPLIT

In [46]:
"nome,idade,cpf,email".split(",")
#"nome, idade, cpf, email".split()

['nome', 'idade', 'cpf', 'email']

### MANIPULANDO STRINGS/TEXTO

In [49]:
estados = """
COD,NOME,SIGLA
35,São Paulo, SP
41,Paraná, PR
42,Santa Catarina, SC
43,Rio Grande do Sul, RS
50,Mato Grosso do Sul, MS
11,Rondônia, RO
12,Acre, AC
13,Amazonas, AM
14,Roraima, RR
15,Pará, PA
16,Amapá, AP
17,Tocantins, TO
21,Maranhão, MA
24,Rio Grande do Norte, RN
25,Paraíba, PB
26,Pernambuco, PE
27,Alagoas, AL
28,Sergipe, SE
29,Bahia, BA
31,Minas Gerais, MG
33,Rio de Janeiro, RJ
51,Mato Grosso, MT
52,Goiás, GO
53,Distrito Federal, DF
22,Piauí, PI
23,Ceará, CE
32,Espírito Santo, ES
"""
print(estados)

COD,NOME,SIGLA
35,São Paulo, SP
41,Paraná, PR
42,Santa Catarina, SC
43,Rio Grande do Sul, RS
50,Mato Grosso do Sul, MS
11,Rondônia, RO
12,Acre, AC
13,Amazonas, AM
14,Roraima, RR
15,Pará, PA
16,Amapá, AP
17,Tocantins, TO
21,Maranhão, MA
24,Rio Grande do Norte, RN
25,Paraíba, PB
26,Pernambuco, PE
27,Alagoas, AL
28,Sergipe, SE
29,Bahia, BA
31,Minas Gerais, MG
33,Rio de Janeiro, RJ
51,Mato Grosso, MT
52,Goiás, GO
53,Distrito Federal, DF
22,Piauí, PI
23,Ceará, CE
32,Espírito Santo, ES

In [52]:
estados.split()

['COD,NOME,SIGLA',
 '35,São',
 'Paulo,',
 'SP',
 '41,Paraná,',
 'PR',
 '42,Santa',
 'Catarina,',
 'SC',
 '43,Rio',
 'Grande',
 'do',
 'Sul,',
 'RS',
 '50,Mato',
 'Grosso',
 'do',
 'Sul,',
 'MS',
 '11,Rondônia,',
 'RO',
 '12,Acre,',
 'AC',
 '13,Amazonas,',
 'AM',
 '14,Roraima,',
 'RR',
 '15,Pará,',
 'PA',
 '16,Amapá,',
 'AP',
 '17,Tocantins,',
 'TO',
 '21,Maranhão,',
 'MA',
 '24,Rio',
 'Grande',
 'do',
 'Norte,',
 'RN',
 '25,Paraíba,',
 'PB',
 '26,Pernambuco,',
 'PE',
 '27,Alagoas,',
 'AL',
 '28,Sergipe,',
 'SE',
 '29,Bahia,',
 'BA',
 '31,Minas',
 'Gerais,',
 'MG',
 '33,Rio',
 'de',
 'Janeiro,',
 'RJ',
 '51,Mato',
 'Grosso,',
 'MT',
 '52,Goiás,',
 'GO',
 '53,Distrito',
 'Federal,',
 'DF',
 '22,Piauí,',
 'PI',
 '23,Ceará,',
 'CE',
 '32,Espírito',
 'Santo,',
 'ES']

In [55]:
estados.split("\n")

['',
 'COD,NOME,SIGLA',
 '35,São Paulo, SP',
 '41,Paraná, PR',
 '42,Santa Catarina, SC',
 '43,Rio Grande do Sul, RS',
 '50,Mato Grosso do Sul, MS',
 '11,Rondônia, RO',
 '12,Acre, AC',
 '13,Amazonas, AM',
 '14,Roraima, RR',
 '15,Pará, PA',
 '16,Amapá, AP',
 '17,Tocantins, TO',
 '21,Maranhão, MA',
 '24,Rio Grande do Norte, RN',
 '25,Paraíba, PB',
 '26,Pernambuco, PE',
 '27,Alagoas, AL',
 '28,Sergipe, SE',
 '29,Bahia, BA',
 '31,Minas Gerais, MG',
 '33,Rio de Janeiro, RJ',
 '51,Mato Grosso, MT',
 '52,Goiás, GO',
 '53,Distrito Federal, DF',
 '22,Piauí, PI',
 '23,Ceará, CE',
 '32,Espírito Santo, ES',
 '']

In [56]:
alunos = [
    "pablo",
    "nicolas a.",
    "raquel",
    "patrick",
    "lucas",
    "rafael",
    "rodolpho",
    "natali",
    "victor",
    "thiago",
    "roberval",
    "vinicius",
    "marcos",
    "rodrigo",
    "renan",
    "nicolas f.",
    "thalith",
    "watuse",
    "victoria"
]

In [57]:
## del alunos [2]
## alunos
## alunos.pop(1)

In [71]:
import random

alunos.pop(alunos.index(random.choice(alunos)))

'renan'

### REQUISITOS PARA SER UM DEV DE RESPEITO

* Python: lógica de programação, portifólio, projetos e softwares criados(que resolvam problemas úteis)
* Banco de dados: CSV, SQL: Sqlite3, Postgres, MySQL
* Bibliotecas: Web (Flask, FastAPI, "DJANGO eu não recomendo), DS (pandas, numpy, tensor flow, spark)
* Processos/programação em nuvem: GCP, AWS, Heroku. (https://www.youtube.com/watch?v=TLRW_xTnQwY&t=1091s)
*s: CSV, SQL: Sqlite3, Postgres, MySQL

### OUTROS TIPOS DE STRINGS/TEXTO

In [93]:
r"raw string" #texto seco, cru, literal
b"encoded text" # texto binarizado, encodado
"watuse".encode("ascii")

b'watuse'

### LISTAS  - Mutáveis

In [79]:
frutas = ["tomate", "maçâ", "morango", "banana", "pêra", "pêssego"]
#print(frutas)
#frutas [-6]
frutas[len(frutas)-1]

'pêssego'

In [94]:
nome, sobrenome = input("Digite seu nome e sobrenome: ").split()
print(f"As iniciais do seu nome são {nome [0]}{sobrenome[0]}.")
print(nome [0] + sobrenome[0])
print(nome[0], sobrenome[0], sep=".")

Digite seu nome e sobrenome: WATUSE SILVA
As iniciais do seu nome são WS.
WS
W.S

# FUNÇÕES

### CRIANDO FUNÇÕES PRÓPRIAS

* função dummy

In [100]:
#criação de função
def minha_funcao():
    ... #ellipsis #1 #... #pass

#chamada de função
minha_funcao()

In [110]:
#parametro padrão

def func2(parametro1="", parametro2=""):
    return parametro1 + parametro2

valor = func2("5", " coisas")
print(valor)

#parametro obrigatório

def func3(parametro1="", parametro2=""):
    return parametro1 + parametro2

valor = func3("5", " coisas")
print(valor)

5 coisas